
<app-nav></app-nav>
<div class="container" style="width: 90%;height: 90%;margin-top:10%;margin-bottom:5%;"id="container">

  <div class="form-container sign-in-container">
    <!-- <button (click)="backFct()" style="margin-left: 8%;margin-top:7%"><i class="fa-solid fa-arrow-left"></i></button> -->

    <form [formGroup]="resetForm" >

      <h2 class="pp"   >Vous avez oublié </h2>
      <h2>le mot de passe?</h2>
      <br>
      <input type="text" placeholder="email" formControlName="email">
      <div *ngIf="resetForm.controls.email.invalid && resetForm.controls.email.touched">
        <small *ngIf="resetForm.controls.email.errors?.['required'] " class="text-danger"> email obligatoire </small>
      </div>
      <br>

      <a style=" background-color: transparent;
      border: none;
      font-weight: 600;
      color: #3DAFE1;
      cursor: pointer;" routerLink="/login-register">Se connecter ?</a>

      <button class="btnn" [disabled]="!resetForm.valid" (click)="Reset()">Envoyer</button>

    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <!-- <div class="content">
          <h3>Attention s'il vous plait!!!</h3>
          <br>
          <p style="color:black;font-weight:400">
            Une fois que vous aurez envoyé la requete pour récuperer votre mot de passe,vous allez recevoir un email.
            Suivez les instructions dans le mail et votre mot de passe sera recupéré.
          </p>
          <br>
        </div> -->
        <img src="assets/images/forgotpassword.svg" class="image" alt="" />


      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

